h1, p {
	
	margin: 0;
	padding: 0;
}

h1 {
	font: 1,5em Arial;
	text-align: center;
	color: white;
	background-color: yellow;
}

p {
	font: 1em Times;
	text-indent: 0.8em;
	background-color: #CCC;
	color: blue;
	}

	
	